<section class="abstract">
  <article class="<%= render_direction %>"><%= render_markdown('intro') %></article>
  <article class="<%= render_direction %>"><%= render_markdown('background') %></article>
  <article class="<%= render_direction %>"><%= render_markdown('who') %></article>
</section>

<section class="concrete">
  <article class="<%= render_direction %>">  <%= render_markdown('toc') %></article>
</section>
