<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The Twelve-Factor App <%= I18n.t(:translation) %></title>
  <meta name="description" content="A methodology for building modern, scalable, maintainable software-as-a-service apps.">
  <meta name="author" content="Adam Wiggins">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="<%= request.url %>">
  <%= alternate_links %>
  <link rel="shortcut icon" href="/images/favicon.ico">

  <link rel="stylesheet" href="/css/screen.css" media="screen">
  <link rel="stylesheet" href="/css/mobile.css" media="screen">

  <script type="text/javascript" src="//use.typekit.com/rsq7tro.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <% if ENV['GOOGLE_TAG_MANAGER_ACCOUNT'] %>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=<%= ENV['GOOGLE_TAG_MANAGER_ACCOUNT'] %>"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','<%= ENV['GOOGLE_TAG_MANAGER_ACCOUNT'] %>');</script>
  <!-- End Google Tag Manager -->
  <% end %>

  <header>
  <div class="header-container">
  <% if request.path_info.start_with?('/blog') %>
    <div class="title-wrapper">
        <h1><a href="/blog" title="The Twelve-Factor Blog">The Twelve-Factor Blog</a></h1>
    </div>
    <div class="top-nav">
      <ul>
        <li><a href="/">App</a></li>
        <li><a href="/community">Community</a></li>
        <li><a href="https://github.com/twelve-factor/twelve-factor" class="github-button">
          <img src="/images/github-mark.svg" alt="GitHub logo" class="github-logo">GitHub
        </a></li>
      </ul>
    </div>
  <% else %>
    <div class="title-wrapper">
        <h1><a href="/" title="The Twelve-Factor App">The Twelve-Factor App</a></h1>
    </div>
    <div class="top-nav">
      <ul>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/community">Community</a></li>
        <li><a href="https://github.com/twelve-factor/twelve-factor" class="github-button">
          <img src="/images/github-mark.svg" alt="GitHub logo" class="github-logo">GitHub
        </a></li>
      </ul>
    </div>
  <% end %>
  </div>
  </header>

  <%= yield %>

  <footer>
    <p id="locales"><%= render_locales(@factor) %></p>
    <p>Written by Adam Wiggins • Last updated 2017 • <a href="https://github.com/heroku/12factor">Sourcecode</a> • <a href="/12factor.epub">Download ePub Book</a></p>
    <p>© Copyright <%= Time.now.year %> Salesforce, Inc. All rights reserved. Various trademarks held by their respective owners. Salesforce Tower, 415 Mission Street, 3rd Floor, San Francisco, CA 94105, United States</p>
    <p class="legal"><a href="https://www.salesforce.com/company/legal/">Legal</a> <a href="https://www.salesforce.com/company/legal/sfdc-website-terms-of-service/">Terms of Service</a> <a href="https://www.salesforce.com/company/privacy/">Privacy Information</a> <a href="https://www.salesforce.com/company/disclosure/">Responsible Disclosure</a> <a href="https://trust.salesforce.com/en/">Trust</a> <a href="https://www.salesforce.com/form/contact/contactme/?d=70130000000EeYa">Contact</a> <span class="cpra"><a rel="nofollow" href="https://www.salesforce.com/form/other/privacy-request/"><img src="/images/privacy.png" aria-label="Privacy Icon" title="Privacy Icon">Your Privacy Choices</a></span> <a class="optanon-toggle-display" rel="nofollow" href="#">Cookie Preferences</a></p>
  </footer>
</body>
</html>
